@tailwind base;
@tailwind components;
@tailwind utilities;

#landingBG {

    background-image: url('./assets/images/photo-collage.png.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Or any height you prefer */
    /* filter: grayscale(20%) sepia(30%); */
    filter: brightness(0.8)  contrast(1.2);
      
}
.shadoww{
 
    filter: drop-shadow(1px 1px 5px rgb(8, 6, 6));

}

h1{
    color: #000000;
}

.bg-color1 {
    background: #252323;
}
.bg-color5 {
    background: #1c1919;
    /* #181C14 */
}

.color2 {
    color: #c2aa8d;
}
.bg-color2 {
    
    background-color: #c2aa8d;
}
.bg-color3{
    background-color: #ad9477;
}
.border1 {
    border-color: #A99985;
}


*{
    color: white
}



/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 30px;
    width: 8px; 
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background:  #A99985; 
}


#subnavbar::-webkit-scrollbar{
    display: none;
}
  